echo "node_modules/" >> .gitignore
echo "/.cache" >> .gitignore
echo "/build" >> .gitignore
echo ".env" >> .gitignore
echo ".wrangler" >> .gitignore
echo ".dev.vars" >> .gitignore
echo "public/draco" >> .gitignore
echo "storybook-static" >> .gitignore
cat .gitignore
